In [5]:
import pandas as pd

In [8]:
pandas.read_csv('books_dataset.csv')

,Title,Price,Rating,Availability
0,A Light in the Attic,Â£51.77,Three,In stock
1,Tipping the Velvet,Â£53.74,One,In stock
2,Soumission,Â£50.10,One,In stock
3,Sharp Objects,Â£47.82,Four,In stock
4,Sapiens: A Brief History of Humankind,Â£54.23,Five,In stock
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,Â£55.53,One,In stock
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Â£57.06,Four,In stock
997,A Spy's Devotion (The Regency Spies of London #1),Â£16.97,Five,In stock
998,1st to Die (Women's Murder Club #1),Â£53.98,One,In stock
999,"1,000 Places to See Before You Die",Â£26.08,Five,In stock

In [12]:
Rating = pd.read_csv('books_dataset.csv')